<!DOCTYPE html>
<html>
<head>
<!--
Local Development
<script src="../../../node_modules/vue/dist/vue.js"></script>
<script src="../../../node_modules/axios/dist/axios.js"></script>
-->
<script src="libs/axios.min.js"></script>
<script src="libs/vue.min.js"></script>
<script src="libs/bluefile-minimized.js"></script>
<script src="libs/sigplot-minimized.js"></script>
<script src="libs/sigplot.plugins-minimized.js"></script>
<script src="libs/audio.js"></script>
<link href="css/redhawkwebapp.css" rel="stylesheet">
<script type="text-x-template" id="launch-modal-template">
	<transition name="launch-modal">
	<div class="modal-mask">
		<div class="modal-wrapper">
			<div class="launch-modal-container">
				<div class="header">
					<b>Launch Waveform</b>
				</div>
				<div class="waveform-info">
					<span><b>id:</b> {{ identifier }}</span><br>
					<span><b>name:</b> {{ name }} </span><br>
					<span><b>sadLocation:</b> {{ sadLocation }} </span><br>
					<span><b>Waveform Name:</b> <input v-model="waveformName" placeholder="Enter Waveform Name"></span>				
				</div>
				<div class="launch-buttons">
					<button v-on:click="cancel">Cancel</button>
					<button v-on:click="finish">Finish</button>
				</div>
			</div>
		</div>	
	</div>	
	</transition>
</script>
<script type="text-x-template" id="waveform-control-modal-template">
	<transition name="waveform-control-modal">
		<div class="modal-mask">
			<div class="modal-wrapper">
				<div class="control-modal-container">
					<div class="header">
						<b>Control Waveform</b>
					</div>
					<div class="control-buttons">
						<button v-on:click="start">Start</button>
						<button v-on:click="stop">Stop</button>
						<button v-on:click="release">Release</button>
						<button v-on:click="cancel">Cancel</button>
					</div>
				</div>
			</div>
		</div>	
	</transition>
</script>
<script type="text/x-template" id="property-template">
	<div v-if="property.type=='simple'">
		{{property.id}}<input v-model="property.value"></input><button v-on:click="updateProperty">update</button>
	</div>
	<div v-else-if="property.type=='struct'">
		{{property.id}}</input><button v-on:click="view" :disabled="true">view</button>	
	</div>
	<div v-else>
		{{ property.id }}<input v-model="property.value"></input><button v-on:click="updateProperty">update</button>
	</div>
</script>
<meta charset="UTF-8">
<title>REDHAWK Example WebApp</title>
</head>
<body>
	<div id="domainConfig">
		<span>Name Server:<input v-model="nameServer"></input>Domain Name:<input v-model="domainName"></input><button v-on:click="connect">Connect</button></span>
	</div>
	<div class="sigPlotContainer">
		<div id="signalplot">
		</div>
		<div v-show="false" id="listenUp">
			<button v-on:click="listenToAudio" :disabled="false">{{ listen }}</button>
		</div>		
	</div>
	<div id="availableWaveforms">
		<!--<input id="launch" type="button" value="launch" onclick="displayData()" />-->
		<span><b>Available Waveforms:</b></span>
		 <select v-model="selected">
			<option v-for="option in options" v-bind:value="option">
				{{ option.name }}</option>
		</select>
		<button v-on:click="showLaunchModal = true" :disabled="disabled">Launch</button>
		<launch-modal v-if="showLaunchModal" @close="showLaunchModal = false">
		</launch-modal>
	</div>
	<div class="waveform-data-container">
		<div id="launchedWaveforms">
			<h2>Launched Waveforms</h2>
			<select v-model="selected" multiple>
				<option v-on:click="fillComponents()" v-on:dblclick="showWaveformController = true" v-for="option in options" v-bind:value="option">
					{{ option.name }}
				</option>
			</select>
			<waveform-control-modal v-if="showWaveformController" @close="showWaveformController = false">
			</waveform-control-modal>
		</div>
		<div id="components">
			<h2>Components</h2>
			<select v-model="selected" multiple="false">
				<option v-on:click="fillPorts()" v-for="option in options">
				{{ option.name }}
				</option>
			</select>
		</div>
		<div id="ports">
			<h2>Ports</h2>
			<select v-on:dblclick="graphData()" v-model="selected" multiple>
				<option v-for="option in options">
				{{ option.name }}
				</option>
			</select>
		</div>
	</div>
	<div id="component-properties">
		<h2>Component Property Editor {{ componentSelected }}</h2>
		<property-component
			v-for="property in properties"
			v-bind:property="property"
			>
		</property-component>
	</div>
</body>
<script src="js/app.js"></script>
</html>
